%borde {
    border: 1px solid black;
    text-align: center;
}

.mainmarmarpab {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;

    &__fila1 {
        display: grid;
        grid-template-columns: repeat(4, auto);
        margin-bottom: 10px;

        &__enlace {
            @extend %borde;
            padding: 5px;
        }
    }
}

@media screen and (max-width:650px) {
    .mainmarmarpab {
        display: grid;
        width: 100%;
        grid-template-columns: 100%;

        &__fila1 {
            display: grid;
            grid-template-columns: 100%;

            &__enlace {
                @extend %borde;
                padding: 5px;
            }
        }
    }


}

div .contenedorDistribucion1marmarpab {
    display: grid;
    min-height: 1000px;
    width: 100%;
    box-sizing: border-box;
    grid-template-columns: auto;
    grid-template-rows: 5% 85% 10%;

    header {
        @extend %borde;
    }

    main {
        @extend %borde;
        display: grid;
        grid-template-columns: 20% 60% 20%;

        div {
            @extend %borde;
        }
    }

    footer {
        @extend %borde;
    }
}

@media screen and (max-width:700px) {
    div .contenedorDistribucion1marmarpab {
        display: grid;
        min-height: 1000px;
        width: 100%;
        box-sizing: border-box;
        grid-template-columns: auto;
        grid-template-rows: 5% 85% 10%;

        header {
            @extend %borde;
        }

        main {
            @extend %borde;
            display: grid;
            grid-template-columns: 100%;

            div {
                @extend %borde;
            }
        }

        footer {
            @extend %borde;
        }
    }

}

/*body {
    margin: 0 auto;

    max-width: 56em;

    padding: 1em 0;
}*/
div .contenedorDistribucion2marmarpab {
    display: grid;
    min-height: 100vh;
    max-width: 56/100vw;
    box-sizing: border-box;
    grid-template-columns: auto;
    grid-template-rows: 5vh 85vh 10vh;

    header {
        @extend %borde;
    }

    &__main {
        //@extend %borde;
        display: grid;
        grid-template-columns: 70% 30%;

        &__sec {
            display: flex;
            justify-content: start;
            flex-wrap: wrap;

            div {
                width: 32%;
            }
        }

        div {
            @extend %borde;
        }
    }

    footer {
        @extend %borde;
    }
}

@media screen and (max-width:600px) {
    div .contenedorDistribucion2marmarpab {
        display: grid;
        min-height: 100vh;
        max-width: 56/100vw;
        box-sizing: border-box;
        grid-template-columns: auto;
        grid-template-rows: 5vh 85vh 10vh;

        header {
            @extend %borde;
        }

        &__main {
            //@extend %borde;
            display: grid;
            grid-template-columns: 100%;

            div {
                @extend %borde;
            }

            &__sec {
                display: flex;
                justify-content: start;
                flex-wrap: wrap;

                div {
                    width: 32%;
                }
            }
        }

        footer {
            @extend %borde;
        }
    }
}

@media screen and (min-width:1280px) {
    div .contenedorDistribucion3marmarpab {
        display: grid;
        max-width: 100%;
        grid-template-columns: repeat(3, auto);

        &__img {
            max-width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-width:1280px) and (min-width:600px) {
    div .contenedorDistribucion3marmarpab {
        display: grid;
        max-width: 100%;
        grid-template-columns: repeat(2, auto);

        &__img {
            max-width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-width:600px) {
    div .contenedorDistribucion3marmarpab {
        display: grid;
        max-width: 100%;
        grid-template-columns: 100%;

        &__img {
            max-width: 100%;
            height: auto;
        }
    }
}

div .contenedorPruebasmarmarpab {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    &__img{
        width: 33%;
        height: auto;
    }
}